$white: #fff;
$gray-light-1: #c4d8dc;
$gray-light-2: #a1a1a1;
$gray-ligth-3: #777777;
$gray-dark-1: #626262;
$gray-dark-2: #495057;
$gray-dark-3: #393939;
$black-shadow: #0000001a;

$turquoise: #00bfd8;
$turquoise-dark: #00a7bd;
