{{!< dashboard.hbs }}

<div class="container-fluid p-3" id="inner-content-wrapper">
  <div id="dashboard" class="dashboard">
    <p>Bienvenue {{ user.username }}</p>
    Page : générateur de mots de passe
  </div>
</div>
