<div class="bg-dark-blue shadow" id="sidebar-wrapper">
  <div class="sidebar-heading font-weight-bold text-center black pt-4">
    <span class="sidebar-item-text text-nowrap">Save My Password</span>
    <span class="sidebar-item-text-minimized text-nowrap">SMP</span>
  </div>

  <hr class="sidebar-hr mt-3">

  <ul class="sidebar-items">
    <li>
      <a href="/dashboard/" class="sidebar-item">
        <i class="fas fa-tachometer-alt fa-fw"></i>
        <span class="sidebar-item-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/passwords" class="sidebar-item">
        <i class="fas fa-key fa-fw"></i>
        <span class="sidebar-item-text">Mots de passe</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/generator" class="sidebar-item">
        <i class="fas fa-plus fa-fw"></i>
        <span class="sidebar-item-text">Générateur de MdP</span>
      </a>
    </li>

    <hr class="sidebar-hr">

    <li>
      <a href="/dashboard/account" class="sidebar-item">
        <i class="fas fa-user fa-fw"></i>
        <span class="sidebar-item-text">Mon Compte</span>
      </a>
    </li>

    <hr class="sidebar-hr">

    <li>
      <div class="text-center">
        <button class="rounded-circle sidebar-toggler">
          <i class="no-grow fas fa-chevron-left fa-fw"></i>
        </button>
      </div>
    </li>
  </ul>

  <a href="/logout" class="sidebar-item">
    <i class="fas fa-sign-out-alt fa-fw"></i>
    <span class="sidebar-item-text">Se déconnecter</span>
  </a>
</div>
