{{!< ./layout/main.hbs }}

{{!-- Top --}}
<div id="top" class="top textpage-top">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1>À propos</h1>
      </div>
    </div>
  </div>
</div>

{{!-- Content --}}
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="text-container pt-5">
          <div id="content">
            <h4>Nous connaître</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, doloribus a modi rerum iusto atque sunt
              culpa eveniet corporis enim dolore laboriosam quibusdam vel aspernatur nihil eos consequatur quis sed
              facere iste dignissimos itaque reiciendis. Earum ut nostrum facilis deleniti! Optio sint iste, eveniet
              temporibus sunt earum perferendis sequi? Dolorem voluptatibus facilis, tenetur neque minus blanditiis
              porro magnam exercitationem a laborum quidem fugit! Nesciunt mollitia, quisquam quas, nisi, earum maiores
              enim veritatis labore modi neque odit ea commodi veniam nobis!</p>
              
            <h4>Qui sommes nous</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, doloribus a modi rerum iusto atque sunt
              culpa eveniet corporis enim dolore laboriosam quibusdam vel aspernatur nihil eos consequatur quis sed
              facere iste dignissimos itaque reiciendis. Earum ut nostrum facilis deleniti! Optio sint iste, eveniet
              temporibus sunt earum perferendis sequi? Dolorem voluptatibus facilis, tenetur neque minus blanditiis
              porro magnam exercitationem a laborum quidem fugit! Nesciunt mollitia, quisquam quas, nisi, earum maiores
              enim veritatis labore modi neque odit ea commodi veniam nobis!</p>

            <h4>Le site</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, doloribus a modi rerum iusto atque sunt
              culpa eveniet corporis enim dolore laboriosam quibusdam vel aspernatur nihil eos consequatur quis sed
              facere iste dignissimos itaque reiciendis. Earum ut nostrum facilis deleniti! Optio sint iste, eveniet
              temporibus sunt earum perferendis sequi? Dolorem voluptatibus facilis, tenetur neque minus blanditiis
              porro magnam exercitationem a laborum quidem fugit! Nesciunt mollitia, quisquam quas, nisi, earum maiores
              enim veritatis labore modi neque odit ea commodi veniam nobis!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
