.auth {
  height: 50rem;
  background: url("../images/header-background.jpg") center center no-repeat;
  background-size: cover; }
  .auth .container {
    padding-top: 30vh; }
  .auth .card {
    border-radius: 20px;
    border-color: transparent; }

.register-container {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .register-container .list-unstyled {
    margin-top: 1.375rem; }
    .register-container .list-unstyled .fas {
      color: #00bfd8;
      line-height: 1.375rem; }
